*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./images/background-6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* 
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./images/background-6.jpg);
    background-size: cover;
    background-position: center;
} */

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    text-align: center;
    color:#0ff;
    font-size:40px;
    margin-left: -100px;
    margin-top: -20px;
    border: 3px solid #0ff;
    border-radius: 100px;
    padding:0.5rem 1rem;
    cursor : pointer;
    background: #000;
    text-shadow: 0 0 4px #0ff,0 0 3px #15f4ee;

    box-shadow: 0 0 21px #0ff inset, 0 0 50px #0ff;
}

.navbar ul{
    margin-right: -100px;
    margin-top: -25px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin:0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #0ff;
    /* text-shadow: 0 0 4px #15f4ee,0 0 5px #15f4ee; */
    text-transform:uppercase ;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:#0ff;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.active{
    /* font-family:cursive; */
    font-weight: bolder;
    text-shadow: 0 0 4px #15f4ee,0 0 5px #15f4ee;
}


.content{
    width: 100%;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    transition: translateY(-50%);
    text-align:center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top:80px;
}
.content p{
    margin:20px auto;
    font-weight:100;
    line-height:25px;
}

button{
    width: 200px;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border:2px solid #0ff ;
    background:transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* .button:hover{
    background: #0ff;
    color: #000;
    box-shadow: 0 0 50px #0ff, 0 0 21px #0ff;
    text-shadow: 0 0 4px #15f4ee,0 0 3px #111;
} */

span{
    background:#009688;
    height:100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
    
}

button a{
    text-decoration: none;
    color: #fff;
}


/*  Blogs start   */

.content-blog{
    display: flex;
    margin-top: 50rem;
    padding: 0.5rem 0 0.5rem 0;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
    width: 98%;
    height: 15rem;
    margin-left: 15px;
    margin-bottom: 50px;
    overflow: hidden;
    transition: all 0.5s ease;
}


.blogs{
    /* background-color: gray; */
    display: flex;
    padding: 3px;
    margin: 5px;
    height: 98%;
    width: 20%;
    justify-content: center;
    align-items: center;
    position: relative;

}

.blogs img{
    position: relative;
    padding: .5rem;
    margin: 1rem;
    height: 100%;
    width: 100%;
}

.blogs p{
    height:100px ;
    text-align: center;
    position: absolute;
    padding: .5rem;
    margin: 1rem;
    color:#0ff;
    margin-top: 50px;
    text-transform: capitalize;
    /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)); */

    /* justify-content: center;
    align-items: center; */
    /* width: 100%; */
}

#para{
    margin-top: -30rem;
    color: #0ff;
    font-size: 100px;
    cursor: pointer;
    position:absolute;
    z-index: 3;
    text-shadow: 0 0 20px #0ff;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.blogs h2{
    position: absolute;
    z-index: 2;
    color: #15f4ee;
    margin-top: -110px;
    background:linear-gradient(0,0,0,0.5 #000) ;
    cursor: pointer;
}

.blogs img{
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.blog-content{
    bottom: -110%;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    padding: .5rem;
    margin: 1rem;
    margin-top: 10px;
    color:#0ff;
    text-transform: capitalize;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
    transition: all 0.5s ease;
    cursor: pointer;
}

.blogs:hover .blog-content{
    bottom: -10%; 
    cursor: pointer; 
}

.blog-content a{
    z-index: 6;
    color: aqua;
    text-shadow: 0 0 10px aqua;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 85px;
    margin-top: 150px;
}

/* end  */ 
.foot{
    margin-top: 70vh;
    height: 40vh;
    /* background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer{
    position: absolute;
    margin-top: 70px;
    color: azure;
}
